<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>MVT SEBASTIAN MURCIA</title>
</head>
<header>
 <nav>
    <div>MI PRIMER MVT</div>
    <div> Datos Familiares</div>
 </nav>
</header>
<body>
    <section>
        <div class="personajes">
            <h2>ABUELO {{familiar.fullname.1}}</h2>
            <img class="logo" src="img/IMAG1.jpeg" alt="Abuelo">
            <P>Bruce Wayne es el único personaje que se identifica como Batman y aparece en Batman, Detective Comics, Batman y Robin, y Batman: The Dark Knight. Dick Grayson vuelve al manto de Nightwing</P>
        </div>
        <div class="personajes">
            <h2>ABUELA</h2>
            <img class="logo" src="img/IMG2.jpeg" alt="Abuela">
            <P>Harley Quinn es un personaje ficticio creado por los estadounidenses Paul Dini y Bruce Timm para la editorial DC Comics. Quinn hizo su debut en el vigésimo-segundo episodio de Batman: la serie animada, «El favor del Joker», en septiembre de 1992 y se convirtió en una villana recurrente en la serie</P>
        
        </div>
        <div class="personajes">
            <h2>HERMANA</h2>
            <img class="logo" src="img/IMG3.jpeg" alt="hermana">
            <P>Es un superhéroe que apareció por primera vez en los cómics estadounidenses publicados por DC Comics. ​ El personaje fue creado por el escritor estadounidense Jerry Siegel y el artista canadiense Joe Shuster en 1933 cuando ambos se encontraban viviendo en Cleveland, Ohio.</P>
           
        </div>
    </section>

</body>
<footer>
    <div>Todos los derechos reservados a Sebastian Murcia</div>
   
</footer>
</html>