<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO CODER</title>
</head>
<body>
    <h1>Bienvenidos a mi web</h1>
    <p>Mi primera vista</p>
    <p>Hola {{nombre}} {{apellido}} {{fecha}}</p>
    <br/>
    <img style="max-width: 300px" 
    src="https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?cs=srgb&dl=pexels-kevin-ku-577585.jpg&fm=jpg" alt="" />
</body>
</html>